parameters:
    level: 8
    paths:
        - bootstrap/
        - config/
        - src/
        - tests/
        - database/
    excludePaths:
    	- backend/bootstrap/cache/*
    tmpDir: storage/phpstan
