parameters:
    level: 8
    paths:
        - bootstrap/
        - config/
        - src/
        - tests/
        - database/
    excludePaths:
    	- bootstrap/cache/*
    tmpDir: storage/phpstan
services:
   -
       class: Tests\Architecture\CleanStructureTest
       tags:
           - phpat.test
   -
       class: Tests\Architecture\CleanArchitectureTest
       tags:
           - phpat.test
